<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <title>YASC</title>
</head>

<body>
    <h1>YASC — Yet Another SoarCast</h1>
    <h2>Proudly powered by SCaaS — SoarCast as a Service</h2>
    <table>
        <TR>
            <th></th>
            {% for day in days %}
            <th>{{day}}</th>
            {% endfor %}
        </TR>
        {% for launch in data %}
        <TR>
            <TD>{{launch['name']}}</TD>
            {% for day in days %}
            {% if launch['days'].get(day, False) %}
            <TD>{{"%.2f"|format(launch['days'][day]['total_score'])}}</TD>
            {% else %}
            <TD></TD>
            {% endif %}
            {% endfor %}
        </TR>
        {% endfor %}
    </table>
</body>

</html>